.App {
  text-align: center;
}

.App-header {
  //min-height: 100vh;
  display: flex;
  width: 70vw;
  flex-direction: column;
  // zentriert schrift mittig, will aber links haben
  // align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  position: relative;
  left: 10vw;
}

.introduction-two-sentences {
  text-align: start;
  //width: 75vw;
  position: relative;
  width: -moz-available;

  padding-top: 20vh;
  padding-left: 3vw;
}

.introduction-two-sentences p {
  font-size: 44px;
  font-family: "Rubik", sans-serif;
  width: max-content;
  z-index: 1000;
  color: white;
  line-height: 40%;
}

// fancy underline and line animation through for introduction text
#name {
  text-decoration: line-through;
  text-decoration-color: #159d82;
  text-decoration-thickness: 5px;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #159d82;
    text-decoration-thickness: 5px;
  }
}
#location {
  text-decoration: line-through;
  text-decoration-color: #159d82;
  text-decoration-thickness: 5px;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #159d82;
    text-decoration-thickness: 5px;
  }
}
#workplace {
  text-decoration: line-through;
  text-decoration-color: #159d82;
  text-decoration-thickness: 5px;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #159d82;
    text-decoration-thickness: 5px;
  }
}

.introduction-subtitle {
  color: #159d82 !important;
  font-size: 24px !important;
  width: 40vw !important;
  line-height: normal !important;
}

.introduction-two-sentences img {
  position: absolute;
  top: 40%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

#simone {
  opacity: 0.6;
}

// sexy hover effects
#name:hover ~ #simone {
  display: block;
}

// About button on the right site, needs to be sticky
.sticky-about {
  position: fixed;
  top: 5%;
  right: 5%;
  text-decoration: underline;
  text-decoration-color: #159d82;
  text-decoration-thickness: 2px;
  color: white;
  font-size: 16px;
}

// LATEST WORK
.latest-work {
  // position: relative;
  display: flex;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 10vw;
  position: relative;
}
.latest-work-background {
  font-family: "Kumar One Outline", cursive;
  font-size: 130px;
  color: #159d82;
  opacity: 0.4;
}
.latest-work-foreground {
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  color: white;
  position: absolute;
}
