$underlineColor: #159d82;
$underlineHeight: 5%;

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #159d82;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #159d82;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #159d82;
}

html,
body {
  cursor: none;
}

.App {
  text-align: center;
}

.App-header {
  height: 100vh;
  display: flex;
  width: 70vw;
  flex-direction: column;
  // zentriert schrift mittig, will aber links haben
  // align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  position: relative;
  left: 10vw;
  cursor: url("./images/fat.cur"), auto;
}

.introduction-two-sentences {
  text-align: start;
  //width: 75vw;
  position: relative;
  width: -moz-available;
  //padding-top: 13vh;
}

.introduction-two-sentences p {
  font-size: 44px;
  font-family: "Rubik", sans-serif;
  width: max-content;
  position: relative;
  z-index: 1;
  color: white;
  line-height: 45%;
}

// fancy underline and line animation through for introduction text
@keyframes example {
  from {
    text-decoration: line-through;
  }
  to {
    text-decoration: none;
  }
}

#name {
  position: relative;
  display: inline-block;
  //padding: 0 1px;
  transition: color ease 0.5s;
  // background-color: yellow;
  height: max-content;
  margin: 0%;
  text-decoration: underline;
  text-decoration-color: #159d82;
  text-decoration-thickness: 5px;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: $underlineColor;
    transition: all ease 0.5s;
  }
  &:hover {
    color: white;
    animation-name: example;
    animation-duration: 0.5s;
    &::after {
      height: 100%;
    }
  }
}

#location {
  position: relative;
  display: inline-block;
  //padding: 0 1px;
  transition: color ease 0.5s;
  // background-color: yellow;
  height: max-content;
  margin: 0%;
  text-decoration: underline;
  text-decoration-color: #159d82;
  text-decoration-thickness: 5px;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: $underlineColor;
    transition: all ease 0.5s;
  }
  &:hover {
    color: white;
    animation-name: example;
    animation-duration: 0.5s;
    &::after {
      height: 100%;
    }
  }
}

.introduction-subtitle {
  color: #159d82 !important;
  font-size: 24px !important;
  width: 40vw !important;
  line-height: normal !important;
}

#simone {
  position: absolute;
  top: 40%;
  left: 70%;
  display: none;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 400px;
}
#location-image {
  position: absolute;
  top: 40%;
  left: 70%;
  display: none;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  width: 400px;
}

#simone-modal {
  opacity: 0.6;
  width: 400px;
  font-family: "Rubik", sans-serif;
  left: 10%;
  position: absolute;
}

.about-description {
  left: 40%;
  position: absolute;
  width: 43%;
}

.about-bold {
  font-size: 40px;
  color: white;
}

.about-not-bold {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: #159d82;
}

// sexy hover effects
#name:hover ~ #simone {
  display: block;
}
#location:hover ~ #location-image {
  display: block;
}

.sticky-about {
  position: fixed;
  top: 5%;
  right: 5%;
  text-decoration: underline;
  text-decoration-color: #159d82;
  text-decoration-thickness: 2px;
  color: white;
  font-size: 16px;
  background-color: #111111;
  border: none;
  transition: color 0.5s ease;
  &:hover {
    transition: all 0.25s ease-in-out;
    color: #159d82;
  }
}

.modal-about {
  background-color: yellow;
}

// LATEST WORK
.latest-work {
  // position: relative;
  display: flex;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 10vw;
  position: relative;
}
.latest-work-background {
  font-family: "Kumar One Outline", cursive;
  font-size: 130px;
  color: #159d82;
  opacity: 0.4;
  margin: 0;
}
.latest-work-foreground {
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  color: white;
  position: absolute;
}

.project1 {
  width: 70vw;
  align-self: initial;
  //display: flex;
  left: 10vw;
  position: relative;
}

#project1 {
  width: 70vw;
}

.project1-development {
  color: #159d82;
  text-align: left;
  font-size: 16px;
  margin: 0;
}
.project1-title {
  color: white;
  text-align: left;
  font-size: 48px;
  margin: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.project1-link {
  text-decoration: underline;
  text-decoration-color: #159d82;
  text-decoration-thickness: 2px;
  color: white;
  text-align: left;
  font-size: 16px;
  padding-bottom: 15vh;
  margin: 0;
}

.contact {
  padding-bottom: 20vh;
  padding-top: 20vh;
}

.icon {
  padding: 30px;
  color: white;
  font-size: 5em;
  transition: color 0.5s ease;
  &:hover {
    transform: rotate3d(1, 1, 1, 45deg);
    transition: all 0.25s ease-in-out;
    color: #159d82;
  }
}
